<ion-content class="tinder-bg">

  <div class="tinder-logo">
    <img src="assets/icon/tinder-logo.png" alt="Tinder Logo" />
  </div>

  <h2 class="title">My Information</h2>

  <form (ngSubmit)="onRegister()" class="register-form">

    <ion-item lines="none" class="input-item">
      <ion-label position="floating">First name</ion-label>
      <ion-input [(ngModel)]="name" name="name" required></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-label position="floating">Last name</ion-label>
      <ion-input [(ngModel)]="lastName" name="lastName" required></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-label position="floating">Birth year</ion-label>
      <ion-datetime
        presentation="year"
        [(ngModel)]="birthDate"
        name="birthDate"
        placeholder="Select year">
      </ion-datetime>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-label position="floating">Country</ion-label>
      <ion-input [(ngModel)]="country" name="country"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-label position="floating">City</ion-label>
      <ion-input [(ngModel)]="city" name="city"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-label position="floating">Gender</ion-label>
      <ion-select [(ngModel)]="gender" name="gender" interface="popover">
        <ion-select-option value="male">Male</ion-select-option>
        <ion-select-option value="female">Female</ion-select-option>
        <ion-select-option value="other">Other</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-label position="floating">Passions</ion-label>
      <ion-select multiple="true" [(ngModel)]="passions" name="passions">
        <ion-select-option value="Music">Music</ion-select-option>
        <ion-select-option value="Movies">Movies</ion-select-option>
        <ion-select-option value="Travel">Travel</ion-select-option>
        <ion-select-option value="Sports">Sports</ion-select-option>
        <ion-select-option value="Cooking">Cooking</ion-select-option>
        <ion-select-option value="Art">Art</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" type="submit" class="continue-btn"
      [disabled]="!name || !lastName || !email || !password">
      Continue
    </ion-button>

    <div class="ion-text-center ion-margin-top">
      <a (click)="goToLogin()" class="login-link">Already have an account?</a>
    </div>
  </form>
</ion-content>
